@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

html {
    scroll-behavior: smooth; /* يجعل التمرير بين الأقسام سلساً */
}

/* General Body Styling */
body {
    background-color: #020912;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

/* Content Sections */
section {
    padding: 100px 20px; /* Padding لإعطاء مساحة من الأعلى والأسفل */
    min-height: 100vh; /* كل قسم يأخذ ارتفاع نافذة المتصفح بالكامل */
    transition: opacity 0.5s ease-in-out;
}

/* Background Styling */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/back.png"); /* Your background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
    background-size: contain; /* Keeps the original size of the image */
    z-index: -1; /* Sends the background behind everything else */
}

/* Header Styling */
.header {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#020912; /* Adds a semi-transparent background */
    position: relative;
    z-index: 1; /* Ensures the header is above the background */
}

/* Title Styling */
.title h1 {
    font-size: 2rem;
    margin: 0;
}

/* Navigation Menu */
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: azure;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
    color: #fff; /* Changes link color on hover */
}

/* Hi Section Styling */
.hi {
    position: relative;
    color: #ffffff;
    margin: 100px auto; /* Adds margin from top and centers horizontally */
    padding: 20px;
    z-index: 1; /* Ensures the text is above the background */
    margin-left: calc(10% - 100px); /* تعيين الهامش الأيسر ليكون 50% من العرض الكلي للعنصر الأب، ثم خصم 100 بكسل */
    text-justify: distribute-all-lines;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
    font-style: normal;
    
}

.hi h1 {
    font-size: 4.5rem; /* Larger font size for prominence */
    margin: 0;
}

.hi p {
    font-size: 2rem;
    margin-top: 10px;
}

strong {
    color: #98e8cd; /* Highlight color for emphasis */
    
}

/* Content Section Styling */
.content {
    padding: 20px;
    color: #ffffff; /* Ensures text in the content section is visible */
}

.btu {
    position: relative;
    z-index: 1;
    border: 2px solid #98e8cd;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 1s ease-in-out, color 1s ease-in-out; /* تغيير المدة إلى 1 ثانية لجعل التغير تدريجي أكثر */
    text-decoration: none;
    color: #ffffff;
}

.btu:hover {
    background-color: #98e8cd;
    color: #020912;
}

.skills{
    display: flex;
    position: relative ;
    background-color:#020912;
    justify-content: space-around;       
    color: white; 
}
.items {
    display: flex;
    flex-direction: column;
    align-items: center; /* توسيط العناصر داخل كل عنصر */
    text-align: center; /* توسيط النصوص */
    margin: 10px; /* مساحة حول كل عنصر */
    padding: 20px; /* أضف padding داخل العنصر لتحسين المساحة الداخلية */
    border-radius: 10px; /* أضف زوايا دائرية لتخفيف حدة الحدود */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* أضف تأثير الانتقال */
}

.items:hover {
    transform: scale(1.05); /* تكبير العنصر عند التمرير فوقه */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* أضف ظل لتأثير التمرير */
}

.img_items {
    position: relative; /* يمكن استخدام position: relative لضبط مواقع الصور داخل العناصر */
    width: 300px; /* عرض الصورة */
    height: 300px; /* ارتفاع الصورة */
    object-fit: cover; /* يحافظ على نسبة العرض إلى الارتفاع ويملأ الصورة */
    border-radius: 10px; /* أضف زوايا دائرية للصورة لتتماشى مع تصميم العنصر */
    align-items: center; /* توسيط العناصر داخل كل عنصر */

}


p {
    text-align: left;
    line-height: 1.6;
    margin: 20px 0;
    padding: 10px;
    text-indent: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', serif;
}

h2 {
    color: #c7d9fa; /* اختيار لون ملفت للعنوان */
    font-family: 'Arial', sans-serif; /* اختيار خط أكثر حداثة */
    font-weight: bold; /* جعل النص أكثر سمكاً */
    margin-bottom: 20px; /* مسافة بين العنوان والمحتوى */
    text-transform: uppercase; /* تحويل الأحرف إلى كبيرة */
    letter-spacing: 2px; /* توسيع المسافة بين الحروف لإعطاء مظهر أنيق */
    transition: color 0.3s ease; /* إضافة تأثير انتقال لتغير اللون */
}

h2:hover {
    color: #09346a; /* تغيير لون النص عند التمرير */
}


