@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Merriweather&family=Nanum+Myeongjo:wght@400;700;800&display=swap');

*{
    margin: 0;
    border: 0;
}
html {
    scroll-behavior: smooth; /* يجعل التمرير بين الأقسام سلساً */
}

/*General Body Styling*/
body {
    background-color: #020912;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    
}

/* Content Sections */
section {
    padding: 100px 20px; /* Padding لإعطاء مساحة من الأعلى والأسفل */
    min-height: 100vh; /* كل قسم يأخذ ارتفاع نافذة المتصفح بالكامل */
    transition: opacity 0.5s ease-in-out;
    
 
   
}

/* Background Styling */
.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/static/img/back.png"); /*  background image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
    background-size: cover; /* Keeps the original size of the image */
    z-index: -1; /* Sends the background behind everything else */
    pointer-events: none;
}

/* Header Styling */
.header {
    user-select: none;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color:#020912; /* Adds a semi-transparent background */
    position: relative;
    z-index: 1; /* Ensures the header is above the background */
}

/* Title Styling */
.title h1 {
    font-size: 2rem;
    margin: 0;
    text-shadow: 2px 2px 5px #fff; /* Adding a white shadow to the header text */
}

/* Navigation Menu */
.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: azure;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

.nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
    color: #fff; /* Changes link color on hover */
}

/* Hi Section Styling */
.hi {
    user-select: none;
    color: #ffffff;
    margin: 100px auto;
    padding: 20px;
    z-index: 1;
    text-align: start;
    font-family: "Nanum Myeongjo", serif;
    font-weight: 700;
}

.hi h1 {
    font-size: 4.5rem; /* Larger font size for prominence */
    margin: 0;
}

.hi p {
    font-size: 2rem;
    margin-top: 10px;
}

strong {
    color: #98e8cd; /* Highlight color for emphasis */
    
}

/* Content Section Styling */
.content {
    padding: 20px;
    color: #ffffff; /* Ensures text in the content section is visible */
}

.btu {
    position: relative;
    z-index: 1;
    border: 2px solid #98e8cd;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 1s ease-in-out, color 1s ease-in-out; /* تغيير المدة إلى 1 ثانية لجعل التغير تدريجي أكثر */
    text-decoration: none;
    color: #ffffff;
}

.btu:hover {
    background-color: #98e8cd;
    color: #020912;
}

.skills{
    display: flex;
    position: relative ;
    background-color:#020912;
    justify-content: space-around;       
    color: white; 
}
.items {
    display: flex;
    flex-direction: column;
    align-items: center; /* توسيط العناصر داخل كل عنصر */
    text-align: center; /* توسيط النصوص */
    margin: 10px; /* مساحة حول كل عنصر */
    padding: 20px; /* أضف padding داخل العنصر لتحسين المساحة الداخلية */
    border-radius: 10px; /* أضف زوايا دائرية لتخفيف حدة الحدود */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* أضف تأثير الانتقال */
}

.items:hover {
    transform: scale(1.05); /* تكبير العنصر عند التمرير فوقه */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* أضف ظل لتأثير التمرير */
}

.img_items {
    position: relative; /* يمكن استخدام position: relative لضبط مواقع الصور داخل العناصر */
    width: 300px; /* عرض الصورة */
    height: 300px; /* ارتفاع الصورة */
    object-fit: cover; /* يحافظ على نسبة العرض إلى الارتفاع ويملأ الصورة */
    border-radius: 10px; /* أضف زوايا دائرية للصورة لتتماشى مع تصميم العنصر */
    align-items: center; /* توسيط العناصر داخل كل عنصر */

}


p {
    text-align: left;
    line-height: 1.6;
    margin: 20px 0;
    padding: 10px;
    text-indent: 10px;
    font-size: 18px;
    color: white;
    font-family: 'Times New Roman', serif;
}

h2 {
    color: #c7d9fa; /* اختيار لون ملفت للعنوان */
    font-family: 'Arial', sans-serif; /* اختيار خط أكثر حداثة */
    font-weight: bold; /* جعل النص أكثر سمكاً */
    margin-bottom: 20px; /* مسافة بين العنوان والمحتوى */
    text-transform: uppercase; /* تحويل الأحرف إلى كبيرة */
    letter-spacing: 2px; /* توسيع المسافة بين الحروف لإعطاء مظهر أنيق */
    transition: color 0.3s ease; /* إضافة تأثير انتقال لتغير اللون */
}

h2:hover {
    color: #09346a; /* تغيير لون النص عند التمرير */
}



.language{
    border:1px solid #09346a ;
    border-radius: 15px; /* زوايا دائرية لتحسين المظهر */

}
.DataProgressBars {
    display: flex;
    flex-direction: row;
    align-items: start;
    margin: 20px; /* مساحة حول العنصر */
    padding: 10px; /* تباعد داخلي */    
    background-color: #020912; /* خلفية العنصر */
    
}

.ico {
    width: 50px; /* عرض الصورة */
    height: 50px; /* ارتفاع الصورة */
    
}

h3 {
    margin: 10px ; /* تباعد حول العناوين */
    color: #ffffff;
}

.ProgressBarContainer {
    width: 100%; /* العرض الكامل للعنصر */
    background: linear-gradient(90deg, #f0f0f0, #020912); /* تدرج لوني لخلفية شريط التحميل */
    border-radius: 10px; /* زوايا دائرية للشريط */
    overflow: hidden; /* إخفاء الأجزاء الزائدة */
    margin-top: 10px; /* تباعد فوق شريط التحميل */
    margin-left: 10px;
    position: relative; /* لضبط موضع الشريط بداخل الحاوية */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل لتحسين المظهر */
}

.ProgressBar {
    background-color: white; /* لون شريط التحميل */
    color: #389ef8; /*color font*/
    text-align: center; /* text center progressbar*/
    line-height: 30px; /* محاذاة النص عمودياً داخل الشريط */
    height: 30px; /* ارتفاع شريط التحميل */
    border-radius: 10px; /* زوايا دائرية للشريط */
    font-size: 16px; /* حجم النص */
    font-weight: bold; /* جعل النص أكثر وضوحًا */ 
    box-shadow: 0 10px 40px -10px #fff;
}

/* Animation classes */
.animate #python {
    animation: loading_python 2s normal forwards;
}

.animate #c {
    animation: loading_c 2s normal forwards;
}

.animate #HTML {
    animation: loading_H 2s normal forwards;
}

.animate #CSS {
    animation: loading_CSS 2s normal forwards;
}

.animate #JS {
    animation: loading_JS 2s normal forwards;
}


/* Keyframes for animations */
@keyframes loading_python {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

@keyframes loading_c {
    0% {
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

@keyframes loading_H {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes loading_CSS {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
}

@keyframes loading_JS {
    0% {
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.contact {
    background-image: url("/static/img/back2.png");
    padding: 60px 20px;
    color: #ffffff;
    text-align: center;
}

.contact-content {
    background: rgba(0, 0, 0, 0.7); 
    padding: 40px;
    border-radius: 15px;
    display: inline-block;
    max-width: 700px;
    width: 100%;
    transform: translateY(20px); /* Move content downwards */
    animation: fadeInUp 1s forwards; /* Apply the animation */
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.contact h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #333;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.contact-item div {
    text-align: left;
}

.contact-item a {
    text-decoration: none;
    color: #ffcc00;
    transition: color 0.3s ease;
}

.contact-item a:hover {
    color: #ffffff;
}
.open-silebar-button {
    position: fixed;
    top: 20px;
    right: 20px; /* لتثبيت الزر في أقصى يمين الشاشة، استخدم left: 20px للأيسر */
    z-index: 1000;
    opacity: 0;
}

input{
    position: fixed;
    top: 0;
    right: 0; /* إذا كنت تريد إظهاره في أقصى اليمين */
    transform: translateX(100%);
    opacity: 0;
}

.link-container {
    position: fixed;
    top: 0;
    right: 0; /* إذا كنت تريد إظهاره في أقصى اليمين */
    width: 250px; /* عرض القائمة */
    height: 100%;
    background-color: #020912;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    
    
}

.link-container ul {
    margin-top: 30px;
    padding: 30px;
    list-style: none; /* لإزالة النقاط من القائمة */
}

.link-container ul li {
    margin-top: 15px; /* تقليل الهوامش بين العناصر */
    width: 100%;

}

.link-container ul li a {
    position: relative;
    display: block; /* اجعل الرابط عنصراً كتلة */
    padding: 15px 10px; /* حدد هوامش داخلية */
    border:1px solid #98e8cd;
    background-color: transparent; /* لون الخلفية */
    width: 100%;
    z-index: 1000;
    color: #ffffff; /* لون النص */
    text-align: center; /* محاذاة النص في الوسط */
    text-decoration: none; /* إزالة خط التسطير */
    border-radius: 5px; /* الزوايا المستديرة */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* تأثيرات الانتقال */
    right: 10px;
}

/* تأثير عند التمرير على الأزرار */
.link-container ul li a:hover {
    background-color: #0056b3; /* لون الخلفية عند التمرير */
    transform: translateY(-2px); /* تأثير الارتفاع عند التمرير */
}

/* تأثير عند الضغط على الأزرار */
.link-container ul li a:active {
    transform: translateY(0); /* إزالة تأثير الارتفاع عند الضغط */
}

#Sidebar-active:checked ~ .link-container {
    transform: translateX(0);
}
#Sidebar-active:checked ~ .open-silebar-button {
    opacity: 0;
}
/* زر الإغلاق */
.close-silebar-button {
    position: flex;
    top: 10px;
    left: 10px;
    cursor: pointer;
}


/* Media Queries */
@media (max-width: 768px) {
    .hi{
        margin: 30px auto;

    }
    .title h1 {
        font-size: 2rem;
        margin-left: 3%;
    }

    .nav ul {
        flex-direction: column;
        align-items: center;
    }

    .nav ul li {
        margin: 5px 0;
    }

    .hi h1 {
        font-size: 2rem;
    }

    .hi p {
        font-size: 1rem;
    }

    .skills {
        flex-direction: column;
    }

    .items {
        width: 90%;
        margin: 10px auto;
    }

    .contact-content {
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 14px;
    }

    .hi p {
        font-size: 1.2rem;
    }

    .btu {
        font-size: 1rem;
    }
    .open-silebar-button{
        opacity: 1;
    }
    .uul{
        opacity: 0;
    }
    
}